<html>
  <head>
    Pizza App
  </head>
<body>

<div class="topnavbar">
   <a class="active" href="#">Add Address </a> 
</div>
<div class="bottomnavbar"></div>

  <div class="tab">
    <h3>Login to use your saved Account</h3>
    <button class="navbars">My Address</button>
  </div>

<h2>Fill details below</h2>
      <div class="row">
        <div class="col-75">
          <div class=column>
          <input type="text" id="fname" placeholder="First Name">
        </div>
      </div>
      

      <div class="row">
        <div class="col-75">
          <input type="text" id="lname" placeholder="Last Name">
        </div>
      </div>


      <div class="row">
        <div class="col-75">
          <div class="column">
          <input type="text" id="lname"  placeholder="Mobile Number">
          </div>
      </div>

      <div class="row">
        <div class="col-75">
        <input type="text" id="Iname"  placeholder="Address">
            </div>
            </div>
      </div>
        

      <div class="row">
      <div class="col-75">
        <div class="column">
      <input type="text" id="Iname" placeholder="Email Address">
      </div>
    </div>

    
    <div class="row">
      <div class="col-75">
        <input type="text" id="Iname"  placeholder="House Number">
      </div>
    </div>
      </div>
<!-- secondlast tab -->
        <div class="tab">
      <div class="tabbar">
        <h3>Location Thiruvanamtupuram</h3>
        <button class="navbartwo">Edit</button>
      </div>
        </div>
<!-- submitbutton -->
     <div class="row">
        <input class="submit" type="submit" value="Save and Continue">
      </div>
  
  </div>
</body>
</html>